<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>상품 등록</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>상품 등록</h1>
<form action="#" th:action="@{/product/register}" th:object="${product}" method="post">
    <label>상품 이름:</label>
    <input type="text" th:field="*{name}" required/>
    <br/>
    <label>가격:</label>
    <input type="number" th:field="*{price}" required/>
    <br/>
    <label>수량:</label>
    <input type="number" th:field="*{quantity}" required/>
    <br/>
    <button type="submit">등록</button>
</form>
<a href="/products" class="button">리스트로 돌아가기</a>
</body>
</html>
